<div style="border: 3px solid lightgrey;">
  <h4 style="display: flex; justify-content: center; align-items: center">
    Attenzione! Notifica numero: a95d79a69bcb4bb88b3826dcf8a42cb3
  </h4 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    All'interno del file: ricambi_venduti.log si è verificto il seguente evento: 
  </h5 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    Riga numero 2, descrizione: 2021-07-27 19:54:21,376 INFO Process update ricambi table completed!
  </h5 style="display: flex; justify-content: center; align-items: center">
</div style="border: 3px solid lightgrey;"><div style="border: 3px solid lightgrey;">
  <h4 style="display: flex; justify-content: center; align-items: center">
    Attenzione! Notifica numero: 11dcfb21a49746e3818e0519b5571f53
  </h4 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    All'interno del file: ricambi_venduti.log si è verificto il seguente evento: 
  </h5 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    Riga numero 3, descrizione: 2021-07-27 19:54:21,410 INFO ricambi.json file replaced in ricambi application
  </h5 style="display: flex; justify-content: center; align-items: center">
</div style="border: 3px solid lightgrey;"><div style="border: 3px solid lightgrey;">
  <h4 style="display: flex; justify-content: center; align-items: center">
    Attenzione! Notifica numero: 5a02a7158d19477dbf3bc1fa79d09a88
  </h4 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    All'interno del file: test.log si è verificto il seguente evento: 
  </h5 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    Riga numero 0, descrizione: 2021-07-29 17:02:27,744 INFO User created successfully
  </h5 style="display: flex; justify-content: center; align-items: center">
</div style="border: 3px solid lightgrey;"><div style="border: 3px solid lightgrey;">
  <h4 style="display: flex; justify-content: center; align-items: center">
    Attenzione! Notifica numero: eefe857749174bf2ac85c65dcfd1ca8b
  </h4 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    All'interno del file: test.log si è verificto il seguente evento: 
  </h5 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    Riga numero 2, descrizione: 2021-07-29 17:02:27,744 INFO User created successfully
  </h5 style="display: flex; justify-content: center; align-items: center">
</div style="border: 3px solid lightgrey;"><div style="border: 3px solid lightgrey;">
  <h4 style="display: flex; justify-content: center; align-items: center">
    Attenzione! Notifica numero: 56133dc4667d47c78323866fc844835d
  </h4 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    All'interno del file: test.log si è verificto il seguente evento: 
  </h5 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    Riga numero 4, descrizione: 2021-07-29 17:02:27,744 INFO User created successfully
  </h5 style="display: flex; justify-content: center; align-items: center">
</div style="border: 3px solid lightgrey;"><div style="border: 3px solid lightgrey;">
  <h4 style="display: flex; justify-content: center; align-items: center">
    Attenzione! Notifica numero: 4aeb49f7176042c2b8d0df59816d59bc
  </h4 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    All'interno del file: test.log si è verificto il seguente evento: 
  </h5 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    Riga numero 6, descrizione: 2021-07-29 17:02:27,744 INFO User created successfully
  </h5 style="display: flex; justify-content: center; align-items: center">
</div style="border: 3px solid lightgrey;"><div style="border: 3px solid lightgrey;">
  <h4 style="display: flex; justify-content: center; align-items: center">
    Attenzione! Notifica numero: 7ab5db1539d245b6a7d6a9a6368bd5dc
  </h4 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    All'interno del file: test.log si è verificto il seguente evento: 
  </h5 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    Riga numero 8, descrizione: 2021-07-29 17:02:27,744 INFO User created successfully
  </h5 style="display: flex; justify-content: center; align-items: center">
</div style="border: 3px solid lightgrey;"><div style="border: 3px solid lightgrey;">
  <h4 style="display: flex; justify-content: center; align-items: center">
    Attenzione! Notifica numero: 89d02170210541cca40e10e34b3efe3f
  </h4 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    All'interno del file: test.log si è verificto il seguente evento: 
  </h5 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    Riga numero 10, descrizione: 2021-07-29 17:02:27,744 INFO User created successfully
  </h5 style="display: flex; justify-content: center; align-items: center">
</div style="border: 3px solid lightgrey;"><div style="border: 3px solid lightgrey;">
  <h4 style="display: flex; justify-content: center; align-items: center">
    Attenzione! Notifica numero: 4df259f37b4f4b648f20d5bc2a1829e5
  </h4 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    All'interno del file: test.log si è verificto il seguente evento: 
  </h5 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    Riga numero 12, descrizione: 2021-07-29 17:02:27,745 INFO User created successfully
  </h5 style="display: flex; justify-content: center; align-items: center">
</div style="border: 3px solid lightgrey;"><div style="border: 3px solid lightgrey;">
  <h4 style="display: flex; justify-content: center; align-items: center">
    Attenzione! Notifica numero: 998cb3f1e5684b68bdfe94f82fe5c859
  </h4 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    All'interno del file: test.log si è verificto il seguente evento: 
  </h5 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    Riga numero 14, descrizione: 2021-07-29 17:02:27,745 INFO User created successfully
  </h5 style="display: flex; justify-content: center; align-items: center">
</div style="border: 3px solid lightgrey;"><div style="border: 3px solid lightgrey;">
  <h4 style="display: flex; justify-content: center; align-items: center">
    Attenzione! Notifica numero: 98fc54646dc1479bb872cad0c3a692a1
  </h4 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    All'interno del file: test.log si è verificto il seguente evento: 
  </h5 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    Riga numero 16, descrizione: 2021-07-29 17:02:27,745 INFO User created successfully
  </h5 style="display: flex; justify-content: center; align-items: center">
</div style="border: 3px solid lightgrey;"><div style="border: 3px solid lightgrey;">
  <h4 style="display: flex; justify-content: center; align-items: center">
    Attenzione! Notifica numero: 4bcbae0fe966491a98b57693f12364dc
  </h4 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    All'interno del file: test.log si è verificto il seguente evento: 
  </h5 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    Riga numero 18, descrizione: 2021-07-29 17:02:27,745 INFO User created successfully
  </h5 style="display: flex; justify-content: center; align-items: center">
</div style="border: 3px solid lightgrey;"><div style="border: 3px solid lightgrey;">
  <h4 style="display: flex; justify-content: center; align-items: center">
    Attenzione! Notifica numero: d133a08e67c64ca3b61cb97a617f1457
  </h4 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    All'interno del file: main_logger.log si è verificto il seguente evento: 
  </h5 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    Riga numero 1, descrizione: 2021-07-27 19:54:21,376 INFO Process update ricambi table completed!
  </h5 style="display: flex; justify-content: center; align-items: center">
</div style="border: 3px solid lightgrey;"><div style="border: 3px solid lightgrey;">
  <h4 style="display: flex; justify-content: center; align-items: center">
    Attenzione! Notifica numero: 941fba659c86456b87cf37fd6f12aa60
  </h4 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    All'interno del file: main_logger.log si è verificto il seguente evento: 
  </h5 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    Riga numero 2, descrizione: 2021-07-27 19:54:21,410 INFO ricambi.json file replaced in ricambi application
  </h5 style="display: flex; justify-content: center; align-items: center">
</div style="border: 3px solid lightgrey;"><div style="border: 3px solid lightgrey;">
  <h4 style="display: flex; justify-content: center; align-items: center">
    Attenzione! Notifica numero: 6805ea47fa8f4da488cd17ee9d5ebb45
  </h4 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    All'interno del file: main_logger.log si è verificto il seguente evento: 
  </h5 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    Riga numero 3, descrizione: 2021-07-27 19:54:21,411 INFO application successfully updated in --> Minute: 27123474.35685041, Seconds: 1627408461.4110248
  </h5 style="display: flex; justify-content: center; align-items: center">
</div style="border: 3px solid lightgrey;">