<div style="display: flex; justify-content: center; align-items:center;">
  <p style="display: flex; justify-content: center; align-items:center;">
    Attenzione! Notifica numero: 87e3c3a376014246bc2c56966af37e3b
  </p style="display: flex; justify-content: center; align-items:center;">
  <p style="display: flex; justify-content: center; align-items:center;">
    All'interno del file: ricambi_venduti.log si è verificto il seguente evento: 
  </p style="display: flex; justify-content: center; align-items:center;">
  <p style="display: flex; justify-content: center; align-items:center;">
    Riga numero 2, descrizione: 2021-07-27 19:54:21,376 INFO Process update ricambi table completed!
  </p style="display: flex; justify-content: center; align-items:center;">
</div style="display: flex; justify-content: center; align-items:center;"><div style="display: flex; justify-content: center; align-items:center;">
  <p style="display: flex; justify-content: center; align-items:center;">
    Attenzione! Notifica numero: 30779a8279be427a9dc1dc968c62b699
  </p style="display: flex; justify-content: center; align-items:center;">
  <p style="display: flex; justify-content: center; align-items:center;">
    All'interno del file: ricambi_venduti.log si è verificto il seguente evento: 
  </p style="display: flex; justify-content: center; align-items:center;">
  <p style="display: flex; justify-content: center; align-items:center;">
    Riga numero 3, descrizione: 2021-07-27 19:54:21,410 INFO ricambi.json file replaced in ricambi application
  </p style="display: flex; justify-content: center; align-items:center;">
</div style="display: flex; justify-content: center; align-items:center;"><div style="display: flex; justify-content: center; align-items:center;">
  <p style="display: flex; justify-content: center; align-items:center;">
    Attenzione! Notifica numero: 4436ac5904144c068724cd9aa00156b5
  </p style="display: flex; justify-content: center; align-items:center;">
  <p style="display: flex; justify-content: center; align-items:center;">
    All'interno del file: test.log si è verificto il seguente evento: 
  </p style="display: flex; justify-content: center; align-items:center;">
  <p style="display: flex; justify-content: center; align-items:center;">
    Riga numero 0, descrizione: 2021-07-29 17:02:27,744 INFO User created successfully
  </p style="display: flex; justify-content: center; align-items:center;">
</div style="display: flex; justify-content: center; align-items:center;"><div style="display: flex; justify-content: center; align-items:center;">
  <p style="display: flex; justify-content: center; align-items:center;">
    Attenzione! Notifica numero: ebd4f6ea754a446c9af71071205fcc03
  </p style="display: flex; justify-content: center; align-items:center;">
  <p style="display: flex; justify-content: center; align-items:center;">
    All'interno del file: test.log si è verificto il seguente evento: 
  </p style="display: flex; justify-content: center; align-items:center;">
  <p style="display: flex; justify-content: center; align-items:center;">
    Riga numero 2, descrizione: 2021-07-29 17:02:27,744 INFO User created successfully
  </p style="display: flex; justify-content: center; align-items:center;">
</div style="display: flex; justify-content: center; align-items:center;"><div style="display: flex; justify-content: center; align-items:center;">
  <p style="display: flex; justify-content: center; align-items:center;">
    Attenzione! Notifica numero: e2b8dbd1e90142ac9747a7a53aeb3306
  </p style="display: flex; justify-content: center; align-items:center;">
  <p style="display: flex; justify-content: center; align-items:center;">
    All'interno del file: test.log si è verificto il seguente evento: 
  </p style="display: flex; justify-content: center; align-items:center;">
  <p style="display: flex; justify-content: center; align-items:center;">
    Riga numero 4, descrizione: 2021-07-29 17:02:27,744 INFO User created successfully
  </p style="display: flex; justify-content: center; align-items:center;">
</div style="display: flex; justify-content: center; align-items:center;"><div style="display: flex; justify-content: center; align-items:center;">
  <p style="display: flex; justify-content: center; align-items:center;">
    Attenzione! Notifica numero: 99d2dd375f234c77afa9ac4f14b662a6
  </p style="display: flex; justify-content: center; align-items:center;">
  <p style="display: flex; justify-content: center; align-items:center;">
    All'interno del file: test.log si è verificto il seguente evento: 
  </p style="display: flex; justify-content: center; align-items:center;">
  <p style="display: flex; justify-content: center; align-items:center;">
    Riga numero 6, descrizione: 2021-07-29 17:02:27,744 INFO User created successfully
  </p style="display: flex; justify-content: center; align-items:center;">
</div style="display: flex; justify-content: center; align-items:center;"><div style="display: flex; justify-content: center; align-items:center;">
  <p style="display: flex; justify-content: center; align-items:center;">
    Attenzione! Notifica numero: 24b7aa545f154051b9b6a2ca038280d4
  </p style="display: flex; justify-content: center; align-items:center;">
  <p style="display: flex; justify-content: center; align-items:center;">
    All'interno del file: test.log si è verificto il seguente evento: 
  </p style="display: flex; justify-content: center; align-items:center;">
  <p style="display: flex; justify-content: center; align-items:center;">
    Riga numero 8, descrizione: 2021-07-29 17:02:27,744 INFO User created successfully
  </p style="display: flex; justify-content: center; align-items:center;">
</div style="display: flex; justify-content: center; align-items:center;"><div style="display: flex; justify-content: center; align-items:center;">
  <p style="display: flex; justify-content: center; align-items:center;">
    Attenzione! Notifica numero: abfef8e97ede465c85f65da828c9b940
  </p style="display: flex; justify-content: center; align-items:center;">
  <p style="display: flex; justify-content: center; align-items:center;">
    All'interno del file: test.log si è verificto il seguente evento: 
  </p style="display: flex; justify-content: center; align-items:center;">
  <p style="display: flex; justify-content: center; align-items:center;">
    Riga numero 10, descrizione: 2021-07-29 17:02:27,744 INFO User created successfully
  </p style="display: flex; justify-content: center; align-items:center;">
</div style="display: flex; justify-content: center; align-items:center;"><div style="display: flex; justify-content: center; align-items:center;">
  <p style="display: flex; justify-content: center; align-items:center;">
    Attenzione! Notifica numero: 669f897c7d9046aebc59c00c4044f14b
  </p style="display: flex; justify-content: center; align-items:center;">
  <p style="display: flex; justify-content: center; align-items:center;">
    All'interno del file: test.log si è verificto il seguente evento: 
  </p style="display: flex; justify-content: center; align-items:center;">
  <p style="display: flex; justify-content: center; align-items:center;">
    Riga numero 12, descrizione: 2021-07-29 17:02:27,745 INFO User created successfully
  </p style="display: flex; justify-content: center; align-items:center;">
</div style="display: flex; justify-content: center; align-items:center;"><div style="display: flex; justify-content: center; align-items:center;">
  <p style="display: flex; justify-content: center; align-items:center;">
    Attenzione! Notifica numero: a0ef9f771d9e4f1aa2f13f74dcc6d4a6
  </p style="display: flex; justify-content: center; align-items:center;">
  <p style="display: flex; justify-content: center; align-items:center;">
    All'interno del file: test.log si è verificto il seguente evento: 
  </p style="display: flex; justify-content: center; align-items:center;">
  <p style="display: flex; justify-content: center; align-items:center;">
    Riga numero 14, descrizione: 2021-07-29 17:02:27,745 INFO User created successfully
  </p style="display: flex; justify-content: center; align-items:center;">
</div style="display: flex; justify-content: center; align-items:center;"><div style="display: flex; justify-content: center; align-items:center;">
  <p style="display: flex; justify-content: center; align-items:center;">
    Attenzione! Notifica numero: bfa1497802b94eb89bad2b8b44e704c7
  </p style="display: flex; justify-content: center; align-items:center;">
  <p style="display: flex; justify-content: center; align-items:center;">
    All'interno del file: test.log si è verificto il seguente evento: 
  </p style="display: flex; justify-content: center; align-items:center;">
  <p style="display: flex; justify-content: center; align-items:center;">
    Riga numero 16, descrizione: 2021-07-29 17:02:27,745 INFO User created successfully
  </p style="display: flex; justify-content: center; align-items:center;">
</div style="display: flex; justify-content: center; align-items:center;"><div style="display: flex; justify-content: center; align-items:center;">
  <p style="display: flex; justify-content: center; align-items:center;">
    Attenzione! Notifica numero: da5f004deaf648f48cb581dd7ae4ee33
  </p style="display: flex; justify-content: center; align-items:center;">
  <p style="display: flex; justify-content: center; align-items:center;">
    All'interno del file: test.log si è verificto il seguente evento: 
  </p style="display: flex; justify-content: center; align-items:center;">
  <p style="display: flex; justify-content: center; align-items:center;">
    Riga numero 18, descrizione: 2021-07-29 17:02:27,745 INFO User created successfully
  </p style="display: flex; justify-content: center; align-items:center;">
</div style="display: flex; justify-content: center; align-items:center;"><div style="display: flex; justify-content: center; align-items:center;">
  <p style="display: flex; justify-content: center; align-items:center;">
    Attenzione! Notifica numero: cdb1ecd0d7134968879f40e9d1f7991a
  </p style="display: flex; justify-content: center; align-items:center;">
  <p style="display: flex; justify-content: center; align-items:center;">
    All'interno del file: main_logger.log si è verificto il seguente evento: 
  </p style="display: flex; justify-content: center; align-items:center;">
  <p style="display: flex; justify-content: center; align-items:center;">
    Riga numero 1, descrizione: 2021-07-27 19:54:21,376 INFO Process update ricambi table completed!
  </p style="display: flex; justify-content: center; align-items:center;">
</div style="display: flex; justify-content: center; align-items:center;"><div style="display: flex; justify-content: center; align-items:center;">
  <p style="display: flex; justify-content: center; align-items:center;">
    Attenzione! Notifica numero: 196d9a8590334d98adeba80fd27236aa
  </p style="display: flex; justify-content: center; align-items:center;">
  <p style="display: flex; justify-content: center; align-items:center;">
    All'interno del file: main_logger.log si è verificto il seguente evento: 
  </p style="display: flex; justify-content: center; align-items:center;">
  <p style="display: flex; justify-content: center; align-items:center;">
    Riga numero 2, descrizione: 2021-07-27 19:54:21,410 INFO ricambi.json file replaced in ricambi application
  </p style="display: flex; justify-content: center; align-items:center;">
</div style="display: flex; justify-content: center; align-items:center;"><div style="display: flex; justify-content: center; align-items:center;">
  <p style="display: flex; justify-content: center; align-items:center;">
    Attenzione! Notifica numero: d4c63104f4594817876df58a683e6a04
  </p style="display: flex; justify-content: center; align-items:center;">
  <p style="display: flex; justify-content: center; align-items:center;">
    All'interno del file: main_logger.log si è verificto il seguente evento: 
  </p style="display: flex; justify-content: center; align-items:center;">
  <p style="display: flex; justify-content: center; align-items:center;">
    Riga numero 3, descrizione: 2021-07-27 19:54:21,411 INFO application successfully updated in --> Minute: 27123474.35685041, Seconds: 1627408461.4110248
  </p style="display: flex; justify-content: center; align-items:center;">
</div style="display: flex; justify-content: center; align-items:center;">