<div style="border: 3px solid lightgrey;">
  <h4 style="display: flex; justify-content: center; align-items: center">
    Attenzione! Notifica numero: 1a285fa1e9c6451a8f2ccb19140d1f79
  </h4 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    All'interno del file: ricambi_venduti.log si è verificto il seguente evento: 
  </h5 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    Riga numero 2, descrizione: 2021-07-27 19:54:21,376 INFO Process update ricambi table completed!
  </h5 style="display: flex; justify-content: center; align-items: center">
</div style="border: 3px solid lightgrey;"><div style="border: 3px solid lightgrey;">
  <h4 style="display: flex; justify-content: center; align-items: center">
    Attenzione! Notifica numero: c79838ee23fa4d2eaab960b58e6b61ee
  </h4 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    All'interno del file: ricambi_venduti.log si è verificto il seguente evento: 
  </h5 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    Riga numero 3, descrizione: 2021-07-27 19:54:21,410 INFO ricambi.json file replaced in ricambi application
  </h5 style="display: flex; justify-content: center; align-items: center">
</div style="border: 3px solid lightgrey;"><div style="border: 3px solid lightgrey;">
  <h4 style="display: flex; justify-content: center; align-items: center">
    Attenzione! Notifica numero: de8509758ede4ff4957fa757ca747632
  </h4 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    All'interno del file: test.log si è verificto il seguente evento: 
  </h5 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    Riga numero 0, descrizione: 2021-07-29 17:02:27,744 INFO User created successfully
  </h5 style="display: flex; justify-content: center; align-items: center">
</div style="border: 3px solid lightgrey;"><div style="border: 3px solid lightgrey;">
  <h4 style="display: flex; justify-content: center; align-items: center">
    Attenzione! Notifica numero: 46c85c94c47a4943bff58ea900ff5bc7
  </h4 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    All'interno del file: test.log si è verificto il seguente evento: 
  </h5 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    Riga numero 2, descrizione: 2021-07-29 17:02:27,744 INFO User created successfully
  </h5 style="display: flex; justify-content: center; align-items: center">
</div style="border: 3px solid lightgrey;"><div style="border: 3px solid lightgrey;">
  <h4 style="display: flex; justify-content: center; align-items: center">
    Attenzione! Notifica numero: 4c416d80770d4913987fce03fdf3693f
  </h4 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    All'interno del file: test.log si è verificto il seguente evento: 
  </h5 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    Riga numero 4, descrizione: 2021-07-29 17:02:27,744 INFO User created successfully
  </h5 style="display: flex; justify-content: center; align-items: center">
</div style="border: 3px solid lightgrey;"><div style="border: 3px solid lightgrey;">
  <h4 style="display: flex; justify-content: center; align-items: center">
    Attenzione! Notifica numero: 8328fd20fb214c97a692a9a4dd60a980
  </h4 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    All'interno del file: test.log si è verificto il seguente evento: 
  </h5 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    Riga numero 6, descrizione: 2021-07-29 17:02:27,744 INFO User created successfully
  </h5 style="display: flex; justify-content: center; align-items: center">
</div style="border: 3px solid lightgrey;"><div style="border: 3px solid lightgrey;">
  <h4 style="display: flex; justify-content: center; align-items: center">
    Attenzione! Notifica numero: 37e551d23202496bac18477d44d69c97
  </h4 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    All'interno del file: test.log si è verificto il seguente evento: 
  </h5 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    Riga numero 8, descrizione: 2021-07-29 17:02:27,744 INFO User created successfully
  </h5 style="display: flex; justify-content: center; align-items: center">
</div style="border: 3px solid lightgrey;"><div style="border: 3px solid lightgrey;">
  <h4 style="display: flex; justify-content: center; align-items: center">
    Attenzione! Notifica numero: 71cec5c96ffd4772bd6e331e61940ed8
  </h4 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    All'interno del file: test.log si è verificto il seguente evento: 
  </h5 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    Riga numero 10, descrizione: 2021-07-29 17:02:27,744 INFO User created successfully
  </h5 style="display: flex; justify-content: center; align-items: center">
</div style="border: 3px solid lightgrey;"><div style="border: 3px solid lightgrey;">
  <h4 style="display: flex; justify-content: center; align-items: center">
    Attenzione! Notifica numero: 511a90ac2e644303b393e4b4744f7276
  </h4 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    All'interno del file: test.log si è verificto il seguente evento: 
  </h5 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    Riga numero 12, descrizione: 2021-07-29 17:02:27,745 INFO User created successfully
  </h5 style="display: flex; justify-content: center; align-items: center">
</div style="border: 3px solid lightgrey;"><div style="border: 3px solid lightgrey;">
  <h4 style="display: flex; justify-content: center; align-items: center">
    Attenzione! Notifica numero: ff0e22393bdf4ce0b62925a9c6826e7a
  </h4 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    All'interno del file: test.log si è verificto il seguente evento: 
  </h5 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    Riga numero 14, descrizione: 2021-07-29 17:02:27,745 INFO User created successfully
  </h5 style="display: flex; justify-content: center; align-items: center">
</div style="border: 3px solid lightgrey;"><div style="border: 3px solid lightgrey;">
  <h4 style="display: flex; justify-content: center; align-items: center">
    Attenzione! Notifica numero: 3d60fae50a4a40e9914a549bface4d29
  </h4 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    All'interno del file: test.log si è verificto il seguente evento: 
  </h5 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    Riga numero 16, descrizione: 2021-07-29 17:02:27,745 INFO User created successfully
  </h5 style="display: flex; justify-content: center; align-items: center">
</div style="border: 3px solid lightgrey;"><div style="border: 3px solid lightgrey;">
  <h4 style="display: flex; justify-content: center; align-items: center">
    Attenzione! Notifica numero: fae2e8d99df548b38e23612020772481
  </h4 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    All'interno del file: test.log si è verificto il seguente evento: 
  </h5 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    Riga numero 18, descrizione: 2021-07-29 17:02:27,745 INFO User created successfully
  </h5 style="display: flex; justify-content: center; align-items: center">
</div style="border: 3px solid lightgrey;"><div style="border: 3px solid lightgrey;">
  <h4 style="display: flex; justify-content: center; align-items: center">
    Attenzione! Notifica numero: 0730515153e34785a30e6fbf0efd17b3
  </h4 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    All'interno del file: main_logger.log si è verificto il seguente evento: 
  </h5 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    Riga numero 1, descrizione: 2021-07-27 19:54:21,376 INFO Process update ricambi table completed!
  </h5 style="display: flex; justify-content: center; align-items: center">
</div style="border: 3px solid lightgrey;"><div style="border: 3px solid lightgrey;">
  <h4 style="display: flex; justify-content: center; align-items: center">
    Attenzione! Notifica numero: ab3c59c6b57345ca940b6a920c2c70e8
  </h4 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    All'interno del file: main_logger.log si è verificto il seguente evento: 
  </h5 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    Riga numero 2, descrizione: 2021-07-27 19:54:21,410 INFO ricambi.json file replaced in ricambi application
  </h5 style="display: flex; justify-content: center; align-items: center">
</div style="border: 3px solid lightgrey;"><div style="border: 3px solid lightgrey;">
  <h4 style="display: flex; justify-content: center; align-items: center">
    Attenzione! Notifica numero: d5f870e7e68143bf9181b10b9e6619dc
  </h4 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    All'interno del file: main_logger.log si è verificto il seguente evento: 
  </h5 style="display: flex; justify-content: center; align-items: center">
  <h5 style="display: flex; justify-content: center; align-items: center">
    Riga numero 3, descrizione: 2021-07-27 19:54:21,411 INFO application successfully updated in --> Minute: 27123474.35685041, Seconds: 1627408461.4110248
  </h5 style="display: flex; justify-content: center; align-items: center">
</div style="border: 3px solid lightgrey;">